#content {
  background: var(--primary-color);
  color: #ffffff;
  /* height: 100vh; */
  position: relative;
  padding: 20px 0;
  /* width: 100vw; */
}

#content h1 {
  font-size: 4rem;
}

#content h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

#content h3 {
  font-size: 1.5rem;
}

#content p {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.6;
}

.content-container {
  max-width: 960px;
  margin: auto;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  min-height: 100vh;
}

#footer {
  background-color: #639a67;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.list {
  text-align: left;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 20px;
}

.list > li {
  flex: 50%;
  line-height: 1.6;
}

#content .content-container p a {
  text-decoration: none;
  color: #2b580c;
}

#content .content-container .dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content .content-container .dishes a {
  flex: 50%;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
  align-self: flex-end;
  display: inline-block;
  min-width: 224px;
}

#content .content-container .dishes a .img-container {
  /* height: 250px; */
  max-width: 400px;
  background-color: aqua;
  margin: auto;
}

#content .content-container .dishes a .img-container img {
  width: 100%;
}